doc/doc.aux
doc/doc.bcf
doc/doc.fls
doc/doc.log
doc/doc.run.xml
doc/doc.synctex.gz
doc/doc.toc
doc/.latexrun.db
doc/.latexrun.db.lock
doc/doc.pdf
doc/doc.bbl
doc/doc.blg
doc/doc.fdb_latexmk
papers/
__pycache__/
MNIST_data/
